<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Include HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <!-- Markdown Parser -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- Highlight.js  ( Color code in markdown)-->
    <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/dark.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <!-- Chat.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Chat.js -->
    <script src="./static/js/htmx_event.js" defer></script>

</head>
<body>
    <div id="nav-left">
        <h2>Navigation</h2>


        <!------------------------------>
        <HR>
        <section>
            <H1>Demo</H1>
        </section>
        <article 
            hx-get="/htmx_exemple/menu/template" 
            hx-trigger="click" 
            hx-swap="outerHTML">
            <label><h2> My Template </h2></label>
        </article>
        <article 
            hx-get="/htmx_exemple/menu" 
            hx-trigger="click" 
            hx-swap="outerHTML">
            <label><h2> My Interface Doccument </h2></label>
        </article>
        <!---->


    </div>
    <div id="nav-center">
        <h1>Welcome to My FastAPI HTML Server!</h1>
        <div id="nav-content">
        <!-- 
            <article 
                hx-get="/s3Tools/article/bucket/detail?provider=OUTSCALE_DATAHUB&bucket=datahub-chatbot-anonymized-conversation-prod"
                hx-trigger="load" 
                hx-swap="outerHTML">
            ...Loading
            </article>
        -->
        </div>
    </div>
    <div id="nav-right">

    </div>


</body>
</html>